name: Docs

run-name: Update API docs

on:
  workflow_run:
    workflows: [CI]
    types: [completed]
    branches: [master]
  push:
    branches: [master]
    paths:
      - ktreesitter/README.md

concurrency:
  cancel-in-progress: true
  group: ${{github.workflow}}-${{github.ref_name}}

permissions:
  pages: write
  id-token: write

jobs:
  docs:
    runs-on: ubuntu-latest
    name: Publish docs on GitHub pages
    if: >-
      github.event_name == 'push' ||
      github.event.workflow_run.conclusion == 'success'
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          submodules: true
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17
          cache: gradle
          cache-dependency-path: |
            gradle/libs.versions.toml
            gradle/wrapper/gradle-wrapper.properties
      - name: Set up Kotlin/Native
        uses: ObserverOfTime/setup-konan-action@v1
        with:
          kotlin_version: 2.2.10
      - name: Set up cross compilation
        if: matrix.platform == 'Linux'
        run: |-
          sudo apt-get update
          sudo apt-get install -qy {binutils,gcc}-aarch64-linux-gnu
      - name: Set up Ninja
        if: matrix.platform == 'Android'
        run: |-
          sudo apt-get update
          sudo apt-get install -qy ninja-build
      - name: Build documentation
        run: >-
          ./gradlew --no-daemon -Pcmake.version=3.31.6
          generateFiles :ktreesitter:dokkaGeneratePublicationHtml
      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v5
        with:
          path: ktreesitter/build/dokka/html
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
